<!DOCTYPE html>
<html style="height: 100%;">
	<head>
		<title> cookies-ds docs </title>
		<meta charset="utf-8">
		<link rel="icon" href="data:;base64,iVBORw0KGgo=">
		<link rel="stylesheet" href="../spectre.min.css">
		<link rel="stylesheet" href="../spectre-exp.min.css">
		<link rel="stylesheet" href="../github.css">
		<link rel="stylesheet" href="../style.css">
	</head>

	<body style="height: 100%;">
		<script type="module" src="../main.js"></script>

		<script>
		    function panelSetup () {
		        return { 
		        	get template() {
		        		return this.progressEnabled
		        			? `<cookies-panel loading="${ this.progress }"></cookies-panel>`
		        			: `<cookies-panel></cookies-panel>`;
		        	},
		        	get coloredTemplate() {
		        		return hljs.highlight(this.template, {language: 'xml'}).value;
		        	},
		        	get progressAttribute() {
		        		if (this.progressEnabled) {
		        			return this.progress;
		        		} else {
		        			return null;
		        		}
		        	},
		        	progress: 50,
		        	progressEnabled: true
		        };
		    }
		</script>

		<h5> Panel </h5>
		<p> A simple panel with blurry transparency effect. </p>

		<div x-data="panelSetup()" class="panel">
			<div class="panel-body" style="padding: 0.8rem">
				<div style="width: 20rem; height: 15rem; resize: both; overflow: scroll; background-image: linear-gradient(45deg, #98CD8D 25%, #F6F0CF 25%, #F6F0CF 50%, #98CD8D 50%, #98CD8D 75%, #F6F0CF 75%, #F6F0CF 100%); background-size: 56.57px 56.57px;">
					<cookies-panel style="width: 100%; height: 100%" x-bind:loading="progressAttribute">
						<cookies-h1> Example panel </cookies-h1>
						<cookies-p> Some example panel content </cookies-p>
					</cookies-panel>
				</div>
			</div>
			<div class="panel-footer">
				<pre class="code" data-lang="HTML"><code x-html="coloredTemplate"></code></pre>

				<label class="form-switch">
		  			<input type="checkbox" x-model="progressEnabled">
		  			<i class="form-icon"></i> Enable progress
		  		</label>
				
				<label> progress </label>
				<input class="slider" x-model="progress" type="range" min="0" max="100" value="50">
		  	</div>
		</div>
	</body>
</html>
